<tr>
  <td><%= line_item.quantity %> &times;&nbsp</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.line_item_price) %></td>
  <td class="delete_button"><%= button_to 'Remove', line_item, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
